@import url("https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans&display=swap");
* {
  font-family: "Lato", sans-serif;
}
body {
  background-color: rgb(225, 220, 220);
}
nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cinemexLogo {
  width: 100px;
  height: 20%;
}
a {
  margin: 5px;
  text-decoration: none;
}
a:hover {
  transition: 0.5s linear;
  box-shadow: 0 0 5px rgb(194, 14, 50);
  border-radius: 5px;
  pad: 1px;
  color: red;
}
