@import url("https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans&display=swap");
* {
  font-family: "Lato", sans-serif;
}
body {
  background-color: rgb(225, 220, 220);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-image: url(http://sic.cultura.gob.mx/images/128131);
}
nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cinemexLogo {
  width: 100px;
  height: 20%;
}
a {
  margin: 5px;
  text-decoration: none;
}
a:hover {
  background-color: crimson;
  border-radius: 7px;
  padding: 2px;
}
