
* {
    font-family: "Lato", sans-serif;
}

div{
    background-color: azure;
}
.poster:hover{
    transition: 0.5s linear;
    box-shadow: 0 0 5px rgb(194, 14, 50);
    pad: 10px;
    color: red;
}

footer {
    background-color: #3d3d3d;
    height: 250px;
    color: white;
    clear: both;
}

footer>h1 {
    padding: 30px;
}

footer>img {
    width: 30px;
    height: 30px;
    padding: 0 0 0 30px;
}
